main.main
    div.main__post
        div
            h1(class=['title','post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h2(class=['subtitle','post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h3(class=['small_title','post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h4(class=['lead','post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            p.text Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.
            p.caption Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.
            p.small Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.
        div
            h1(class=['title', 'post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h2(class=['subtitle', 'post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h3(class=['small_title', 'post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            h4(class=['lead', 'post__title']) Ile możesz zarabiać? Weź udział w ankiecie dotyczącej wynagrodzenia
            p.text Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.
            p.caption Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.
            p.small Cześć! Jesteśmy media technologicznym i pracujemy aktualnie nad ważnym projektem dla polskiego rynku IT - prowadzimy analizę wynagrodzeń w branży technologicznej.